.fondocs{
    background-image: url("img/211201164602-file-sony-playstation-5-microsoft-xbox-series-x-consoles-restricted-super-tease.png");
    background-position: center center ;
    padding: 1% 40% 1% 10%;
    background-size: cover;
}
.textocs{
    text-align: left;
    color: #ffffffff;
    font-size: 35px;
}
.fondops{
    background-image: url(img/4104807.png);
    background-position: center center;
    padding: 2% 10% 2% 10% ;
    background-size: cover;
}
.textops{
    text-align: center;
    color: #ffffffff;
    font-size: 35px;
}
.fondon{
    background-image: url(img/53557.jpg);
    background-position: center center;
    padding: ;
    background-size: cover;
}